/* .ham-menu-option{
    width: calc(300px - 20px);
    padding: 10px;
    color: rgb(49, 49, 49);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    justify-content: space-between;
}
a{
    margin: 10px 0;
    text-decoration: none;
}
.ham-menu-option p{
    margin-right: 5px;
}
.ham-todo-num{
    background-color: rgb(199, 199, 199);
    color: #324376;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}
.darkmode .ham-menu-option{
    background-color: rgb(49, 49, 49);
    color: rgb(240, 240, 240);

} */