.main-header{
    background-color: #fff;
    width: 74%;
    position: fixed;
    top: 5px;
    border: 1px solid rgb(224, 224, 224);
}
.header-title{
    font-size: 1rem;
}
.darkmode .main-header{
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(48, 48, 48);
    color: rgb(240, 240, 240);
}
@media (max-width:1200px){
    .main-header{
        width: calc(100% - 1rem);
    }
}
@media (min-width:1350px){
    .main-header{
        width: 77%;
    }
}